<a href="https://shmage.xyz">
		<img src="https://nobudy.xyz//shmage.gif" width="150">
	</a>

	<a href="https://waffelo.net">
		<img src="https://nobudy.xyz//gayffelo.png" width="150">
	</a>
	<a href="https://nobudy.xyz">
		<img src="https://nobudy.xyz//vim.gif" width="150">
	</a>

	<a href="https://nobudy.xyz">
		<img src="https://nobudy.xyz//nobudy.png" width="150">
	</a>

	<a href="https://familydesserttime.com">
		<img src="https://nobudy.xyz//fdt_button.gif" width="150">
	</a>
	<a href="https://gnu.org">
		<img src="https://nobudy.xyz//gplv3_button.gif" width="150">
	</a>
